.document-list-item {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-3x);
  padding: 0;
  cursor: pointer;
  border-radius: var(--rounding-2x);
  transition: background-color 0.15s ease;
}


.document-list-item__icon-wrapper {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--container-transparent-1);
  border-radius: var(--rounding-2x);
}

.document-list-item__icon {
  width: 18px;
  height: 18px;
}

.document-list-item__text {
  font-size: var(--ttn-400-m-02-size);
  line-height: var(--ttn-400-m-02-lh);
  font-weight: 400;
  color: var(--primitive-primary);
  padding-top: 5px;
}
